:root { /* declaración de variables */
    --primary-color: #6a040f;
    --secondary-color: #9b2226;
    --font-color: #f4f1de;
    --font: 'Lobster Two';
}

* { /* Directivas generales */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--font-color);
    max-width: 100%;
}

html { /* Documento total */
    font-size: 62.5%;
    font-family: var(--font), serif;
}

p {
    font-size: 1.6rem;
    font-weight: 400;
}

body { /* contenedor total */
    width: 100vw;
}

/* Header */

header {
    display: inline-flex;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100vw;
    height: 10vh;
    background-color: var(--primary-color);
}

/* Contenidos del header  */

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome #title{
    font-size: 4rem;
}

.logo {
    display: block;
    width: 8rem;
}

.logo #icon {
    position: relative;
    width: 6rem;
    left: 1rem;
}

/* Burger icon */

.topnav {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    margin: 1rem 1rem 1rem 1rem;
    overflow: hidden;
  }

.bar1, .bar2, .bar3 {
width: 3.5rem;
height: 0.5rem;
background-color: var(--font-color);
margin: .6rem 0;
transition: 0.4s;
border-radius: .3rem;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-.9rem, .6rem) ;
}

/* Fade out the second bar */
.change .bar2 {
opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
-webkit-transform: rotate(45deg) translate(-8px, -8px) ;
transform: rotate(45deg) translate(-8px, -8px) ;
}

/* Contenedor principal */

main {
    width: 100vw;
    background-color: var(--secondary-color);
}

/* Acerca de */

.about {
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}

.intro{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 1rem 1rem 1rem 1rem;
    font-size: 1.5rem;
}

#intro {
    margin: auto;
}

.presentacion{
    width: 100vw;
}

.presentacion #presentacion {
    width: 100vw;
}

/* Cheesecakes */

.scroll-title {
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding-bottom: 3rem;
}

.scroll-title-box {
    margin: auto;
    display: block;
}

.scroll-title-box h1 {
    font-size: 3rem;
}

#scroll {
    width:100vw;
    overflow-x:scroll;
    overflow-y: hidden;
}
ul {
    list-style:none;
    display: block;
    white-space:nowrap;
}

li {
    width: 100vw;
    display: inline;
    margin-right: 1rem;
    margin-left: 1rem;
}

li img {
    height: 40vh;
    border-radius: 2rem;
    max-width: 95%
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 2rem;
    background-color: var(--primary-color);
    width: 100vw;
    height: 8vh;
}

.box1 {
    flex-basis: 30vw;
}

#myLinks {
    display: none;
    background-color: rgb(71, 9, 9);
}

#myLinks a {
    color: var(--font-color);
    text-decoration: none;
    font-size: 2rem;
    display: block;
    height: 3.5rem;
    padding-top: 0.5rem;
    padding-left: 0.8rem;
    width: 100vw;
    border-bottom: .2rem solid red;
}

#cheesecakes, #tortas, #tortas-tematicas, #bocaditos {
    padding-top: 8rem;
    margin-top: -8rem;
}


