:root { /* declaración de variables */
    --primary-color: #6a040f;
    --secondary-color: #9b2226;
    --font-color: #f4f1de;
}

* { /* Directivas generales */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--font-color);
}

html { /* Documento total */
    font-size: 62.5%;
    font-family: 'Roboto Condensed', 'sans-seriff';
}

body { /* contenedor total */
    width: 100vw;
}

/* Header */

header {
    display: inline-flex;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100vw;
    height: 10vh;
    background-color: var(--primary-color);
}

/* Contenidos del header  */

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome #title{
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    display: block;
    width: 8rem;
}

.logo #icon {
    position: relative;
    width: 6rem;
    left: 1rem;
}

/* Burger icon */

.container {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    margin: 1rem 1rem 1rem 1rem;
  }

.bar1, .bar2, .bar3 {
width: 35px;
height: 5px;
background-color: #f4f1de;
margin: 6px 0;
transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
-webkit-transform: rotate(45deg) translate(-8px, -8px) ;
transform: rotate(45deg) translate(-8px, -8px) ;
}

/* Contenedor principal */

main {
    width: 100vw;
    background-color: var(--secondary-color);
}

/* Acerca de */

.about {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.intro{
    display: block;
    margin: auto;
    padding-left: 1rem;
    padding-top: 1rem;
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
}


.presentacion{
    width: 100vw;
}

.presentacion #presentacion {
    width: 100vw;
}

/* Cheesecakes */

#lasteventimg {
    width:100vw;
    overflow-x:scroll;
}
ul {
    list-style:none;
    display: block;
    white-space:nowrap;
}

li {
    width: 100vw;
    display:inline;}

li img {
    height: 50vh;
}

footer {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--primary-color);
    width: 100vw;
    height: 8vh;
}

footer a{
    position: relative;
    left: 1rem;
}


